<ion-header>
  <ion-navbar color="primary">
    <ion-title>ionic-to-do: Tarefas</ion-title>
    <ion-buttons end>
      <!-- Inclusão do botão para adicionar tarefas -->
      <button
        ion-button
        icon-left
        (click)="novaTarefa()"
      >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Se não há tarefas a serem exibidas,
  mostramos o h2 abaixo -->
  <h2 *ngIf="!tarefas || tarefas.length === 0">Não há tarefas</h2>

  <ion-list>
    <!-- Realizando iteração a partir do vetor de tarefas -->
    <ion-item-sliding
      *ngFor="let tarefa of tarefas"
      #slidingItem
    >
      <!-- Em ion-item, a classe de tarefaConcluida só é aplicada
      se a tarefa de fato estiver concluída -->
      <ion-item
        (click)="detalheTarefa(tarefa)"
        [ngClass]="{tarefaConcluida: tarefa.isConcluida()}"
      >
        {{ tarefa.nome }}
      </ion-item>

      <ion-item-options side="right">
        <!-- O botão de marcação de tarefa concluída só
          aparece se a tarefa ainda não estiver concluída -->
        <button
          *ngIf="!tarefa.isConcluida()"
          ion-button
          icon-only
          color="secondary"
          (click)="concluir(slidingItem, tarefa)"
        >
          <ion-icon name="checkmark"></ion-icon>
        </button>

        <!-- Botão de exclusão de tarefa -->
        <button
          ion-button
          icon-only
          color="danger"
          (click)="excluir(tarefa)"
        >
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
