<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tarefa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Tarefa</ion-label>
    <ion-input
      type="text"
      readonly
      value="{{ tarefaDetalhe.nome | uppercase }}"
      name="nome"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Descrição</ion-label>
    <ion-input
      type="text"
      readonly
      value="{{ tarefaDetalhe.descricao }}"
      name="descricao"
    ></ion-input>
  </ion-item>
  <ion-item>

    <ion-label floating>Data/hora de criação</ion-label>
    <ion-textarea
      type="text"
      readonly
      value="{{ tarefaDetalhe.dataCriacao | date:'dd/MM/yyyy HH:mm:ss' }}"
      name="descricao"
    ></ion-textarea>
  </ion-item>
</ion-content>
